.skin-blue .main-header .navbar {
    background-color: #222d32 !important;
}
.skin-blue .main-header .navbar:hover {
    background-color: #222d32 !important;
}
.skin-blue .main-header .logo {
    background-color: #222d32;
}
.skin-blue .main-header .logo:hover {
    background-color: #222d32!important;
}
.skin-blue .main-header .navbar .sidebar-toggle {
    color: #cbcaca;
}
.skin-blue .main-header .navbar .sidebar-toggle:hover {
    color: #fff;
    background-color: transparent;
}
.skin-blue .main-header .logo {
    background-color: transparent;
    color: #fff;
    border-bottom: 0 solid transparent;
}
.skin-blue .main-header .logo:hover {
    background-color: #367fa9;
    border-bottom: 0 solid transparent;
}
.box {
    border-top: none;
    box-shadow: none;
}
.h3, h3 {
    font-size: 14px;
    font-weight: 700;
}
.misc-links {
    color: #cbcaca !important;
}
.misc-links:hover {
    color: #fff !important;
}
.prereqs-digillab .shiny-input-container {
    padding-top: 0 !important;
}
.prereqs-digillab .shiny-input-container .checkbox {
    margin-top: 0;
}
#selectTest-label {
    margin-bottom: 10px;
}
.shiny-input-container:has(> label#selectTest-label) {
margin-bottom: 10px !important;
}
.main-header .navbar {
    min-height: 70px;
}

.main-sidebar {
    padding-top:76px;
}

  